.title {
  display: flex;
  position: relative;
  margin-bottom: 15px;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 0.5;
    background-color: var(--bgc-title-line);
    z-index: 0;
  }

  .title-icon {
    height: 8px;
    line-height: 12px;

    i {
      display: inline-block;
      width: 0;
      height: 0;
      border: 4px solid transparent; //设置全部线为透明
      border-left-color: #31E2F4; //设置你想显示出来的方向的三角形的颜色

      &:nth-child(2) {
        opacity: 0.5;
      }

      &:last-child {
        opacity: 0.2;
      }
    }
  }

  p {
    z-index: 1;
    padding-left: 10px;
    color: var(--color-title);
    font-size: 14px;
  }
}