.situation-platform-bg {
  width: 100%;
  height: 55px;
  background-image: var(--bg-top-bar);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 16px;
  left: 0;

  .situation-platform-name {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    z-index: 3;

    a {
      font-size: 40px;
      font-family: 'YouSheBiaoTiHei', serif;
      text-decoration: none;
    }
  }
}