.discern-content-meter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .el-image {
    width: 100%;
    flex: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .discern-content-table {
    padding-top: 10px;

    .discern-content-table-item {
      p {
        padding: 0 10px;
        box-sizing: border-box;
      }
    }
  }
}